<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Agenda de Contato</title>
	</head>
	<body>
		<h1>Agenda de Contato</h1>
		<form 	th:object="${CONTATO_ATUAL}" 
				th:action="@{/contato/adicionar}"
				method="post">
			<div th:if="${#fields.hasAnyErrors()}">
				<div	class="alert alert-danger alert-dimissible fade show"
						role="alert">
					<div th:each="error : ${#fields.detailedErrors()}">
						<i class="oi oi-warning"></i>
						<span th:text="${error.message}"></span>
					</div>
					<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
			<label>Nome: </label>
			<input th:field="*{nome}"/>
			
			<label>Email: </label>
			<input th:field="*{email}"/>
			
			<label>Telefone: </label>
			<input th:field="*{telefone}"/>
			
			<button type="submit">Enviar</button>
		</form>
	</body>
</html>