<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<link 	th:href="@{'/resources/css/bootstrap.min.css'}" 
				rel="stylesheet"/>
		<title>Agenda de Contatos</title>
	</head>
	<body>
		<div class="container">
			<h2>Agenda de Contatos</h2>
			<form	th:object="${CONTATO_ATUAL}" 
					th:action="@{'/contato'}" method="post">
				<div class="form-group">
					<label>Nome</label>
					<input 	type="text" class="form-control" th:field="*{nome}"/>
				</div>
				<div class="form-group">
					<label>Telefone</label>
					<input type="text" class="form-control" th:field="*{telefone}"/>
				</div>
				<div class="form-group">
					<label>Email</label>
					<input type="text" class="form-control" th:field="*{email}"/>
				</div>
				<div class="form-group">
					<button type="submit" name="cmd" value="adicionar"
							class="btn btn-primary">Adicionar</button>
					<button type="submit" name="cmd" value="pesquisar"
							class="btn btn-primary">Pesquisar</button>
				</div>
			</form>
		</div>
		<div class="container">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nome</th>
						<th>Telefone</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="contato : ${LISTA_CONTATO}">
						<td th:text="${contato.id}">.</td>
						<td th:text="${contato.nome}">.</td>
						<td th:text="${contato.telefone}">.</td>
						<td th:text="${contato.email}">.</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>